$text-default: #fff;
$text-active: #fbb6d5;
$wall-default: #9d6c82;
$wall-active: #ec1e79;

ion-toolbar.menu-toolbar {
  --background: $wall-active;
  background-color: $wall-active;
}

#menu-icon {
  fill: $text-default;
}

ion-title.paganame {
  color: $text-default;
}

ion-title.projectname {
  color: $text-default;
  text-align: center;
}

ion-grid.user-grid {
  text-align: center;
}

#user-icon {
  font-size: 5em;
}

#user-name {
  color: $wall-active;
}

hr {
  padding: .2em;
  background-color: $wall-default;
  border-radius: 30px;
}

.pageButton {
  background-color: $wall-default !important;
  color: $text-default;
  padding: .5em;
  // margin-left: 1em;
  border-radius: 10px;
}

.pageButton:hover:active {
  background-color: $wall-active !important;
  color: $text-active;
}
