<ion-header [attr.theme]="theme">
  <ion-toolbar class="menu-toolbar" color="template-{{theme}}">
    <ion-buttons slot="start">
      <ion-button (click)="app.toggleMenu()">
        <ion-icon name="menu-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title slot="end">
      {{app.currentPage}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [attr.theme]="theme">
  <ion-button *ngFor="let page of allPages | keyvalue : defaultOrder" expand="block" color="template-{{theme == 'dark' ? 'light' : 'dark'}}" (click)="redirectTo(page.value.toString())">
    {{page.value}}
  </ion-button>
</ion-content>
