@import "/src/theme/variables.scss";

#img-icon {
  margin: auto;
  height: 2.5em;
  width: 2.5em;
  margin-top: 1em;
  margin-bottom: -.8em;
}

h5 {
  color: $text-default;
}

ion-grid.login-grid {
  background-color: $wall-default;
  position : relative;
  padding-bottom: 5em;
}

ion-grid.login-grid:after {
  content  : "";
  position : absolute;
  z-index  : 1;
  bottom   : 0;
  left     : 0;
  pointer-events   : none;
  background-image : linear-gradient(
    to bottom,
    $wall-default,
    #fff
  );
  width    : 100%;
  height   : 4em;
}

.login-title {
  justify-content: center;
  text-align: center;
  background-color: $wall-active;
  padding: .3em;
  border-radius: 10px;
  margin-bottom: .5em;
}

.email-list {
  background-color: $text-active;
  padding: .3em;
  border-radius: 10px;
  margin-bottom: .5em;
}

.password-list {
  background-color: $text-active;
  padding: .3em;
  border-radius: 10px;
  margin-bottom: .5em;
}

.remember-list {
  background-color: $wall-active;
  padding: .3em;
  margin-bottom: .2em;
  border-radius: 10px;
}

ion-item.remember {
  background-color: $wall-active;
  --background-color: $wall-active;
}

.label-text {
  color: $wall-active;
  font-weight: bold;
  margin-left: .5em;
}

.password-peek {
  background-color: $text-active;
  padding: .4em;
  margin: .2em;
  font-size: 24px;
  border-radius: 50px;
  // height: 100%;
  // width: 100%;
}

#login-icon {
  fill: $this-dark;
}

.alerts {
  --color: $wall-active;
  color: $wall-active;
}
