@import "/src/theme/variables.scss";

.alerts {
  --color: $wall-active;
  color: $wall-active;
}

.alerts-cancel {
  --background: $alerts-cancel;
  background-color: $alerts-cancel;
}

.alerts-accept {
  --background: $alerts-accept;
  background-color: $alerts-accept;
}
